<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Barchart</title>

    <!-- D3.js library -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
   	<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f2f2f2;
        }
        
        .container {
		    max-width: 800px;
		     margin:auto;
		    background-color: #ffcc99;
		    padding: 20px;
		    border-radius: 5px;
		    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .form-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .form-group label {
            margin-right: 10px;
            font-weight: bold;
        }
        
        .form-group select {
            width: 200px;
            padding: 5px;
        }
        
        .form-group button {
            padding: 8px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .form-group button:hover {
            background-color: #0056b3;
        }
        
        .list-group-data{
        	height: 13000px;
        	max-width: 350px;
        	margin-top: 20px; /* Adjust the margin as needed */
        }
        
        .list-group{
        	height: 13000px;
        	max-width: 350px;
        	position: relative;
        	margin-top: 20px; /* Adjust the margin as needed */
        }
    </style>
    
    <script src="scripts/timelines.js"></script>
</head>
<body>
    <div class="container">
        <h1>Barchart</h1><br><br>
        <button id="scrollToBottomBtn" class="btn btn-primary">Scroll to Bottom</button>
         <div class="row">
         <form action="/barcharts/midyearMale" method="post" onsubmit="return validateForm()">
            <div class="form-group row">
                <div class="col-md-6">
                    <h3>Countries</h3>
                    <ul class="list-group">
                        <th:block th:unless="${#lists.isEmpty(countries)}">
                            <tr th:each="tempCountry : ${countries}" th:if="${tempCountry.officialName != null and tempCountry.officialName != ''}">
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="checkbox" name="selectedCountries" th:value="${tempCountry.isoCode}">
                                    <label class="form-check-label" th:text="${tempCountry.officialName}"></label>
                                </li>
                            </tr>
                        </th:block>
                    </ul>
                </div>
                <div class=class="col-md-6">
                    <h3>Midyear for Males</h3>
                    <ul class="list-group-data">
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge0">
					        <label class="form-check-label">Population Age 0</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge1">
					        <label class="form-check-label">Population Age 1</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge2">
					        <label class="form-check-label">Population Age 2</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge3">
					        <label class="form-check-label">Population Age 3</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge4">
					        <label class="form-check-label">Population Age 4</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge5">
					        <label class="form-check-label">Population Age 5</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge6">
					        <label class="form-check-label">Population Age 6</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge7">
					        <label class="form-check-label">Population Age 7</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge8">
					        <label class="form-check-label">Population Age 8</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge9">
					        <label class="form-check-label">Population Age 9</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge10">
					        <label class="form-check-label">Population Age 10</label>
					    </li>
					    <!-- Continue the li elements for the remaining fields -->
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge11">
					        <label class="form-check-label">Population Age 11</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge12">
					        <label class="form-check-label">Population Age 12</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge13">
					        <label class="form-check-label">Population Age 13</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge14">
					        <label class="form-check-label">Population Age 14</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge15">
					        <label class="form-check-label">Population Age 15</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge16">
					        <label class="form-check-label">Population Age 16</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge17">
					        <label class="form-check-label">Population Age 17</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge18">
					        <label class="form-check-label">Population Age 18</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge19">
					        <label class="form-check-label">Population Age 19</label>
					    </li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge20">
					        <label class="form-check-label">Population Age 20</label>
					    </li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge21">
						    <label class="form-check-label">Population Age 21</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge22">
						    <label class="form-check-label">Population Age 22</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge23">
						    <label class="form-check-label">Population Age 23</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge24">
						    <label class="form-check-label">Population Age 24</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge25">
						    <label class="form-check-label">Population Age 25</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge26">
						    <label class="form-check-label">Population Age 26</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge27">
						    <label class="form-check-label">Population Age 27</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge28">
						    <label class="form-check-label">Population Age 28</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge29">
						    <label class="form-check-label">Population Age 29</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge30">
						    <label class="form-check-label">Population Age 30</label>
						</li>
					    <li class="list-group-item">
					        <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge100">
					        <label class="form-check-label">Population Age 100</label>
					    </li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge31">
						    <label class="form-check-label">Population Age 31</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge32">
						    <label class="form-check-label">Population Age 32</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge33">
						    <label class="form-check-label">Population Age 33</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge34">
						    <label class="form-check-label">Population Age 34</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge35">
						    <label class="form-check-label">Population Age 35</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge36">
						    <label class="form-check-label">Population Age 36</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge37">
						    <label class="form-check-label">Population Age 37</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge38">
						    <label class="form-check-label">Population Age 38</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge39">
						    <label class="form-check-label">Population Age 39</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge40">
						    <label class="form-check-label">Population Age 40</label>
						</li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge41">
						    <label class="form-check-label">Population Age 41</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge42">
						    <label class="form-check-label">Population Age 42</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge43">
						    <label class="form-check-label">Population Age 43</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge44">
						    <label class="form-check-label">Population Age 44</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge45">
						    <label class="form-check-label">Population Age 45</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge46">
						    <label class="form-check-label">Population Age 46</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge47">
						    <label class="form-check-label">Population Age 47</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge48">
						    <label class="form-check-label">Population Age 48</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge49">
						    <label class="form-check-label">Population Age 49</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge50">
						    <label class="form-check-label">Population Age 50</label>
						</li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge51">
						    <label class="form-check-label">Population Age 51</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge52">
						    <label class="form-check-label">Population Age 52</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge53">
						    <label class="form-check-label">Population Age 53</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge54">
						    <label class="form-check-label">Population Age 54</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge55">
						    <label class="form-check-label">Population Age 55</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge56">
						    <label class="form-check-label">Population Age 56</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge57">
						    <label class="form-check-label">Population Age 57</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge58">
						    <label class="form-check-label">Population Age 58</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge59">
						    <label class="form-check-label">Population Age 59</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge60">
						    <label class="form-check-label">Population Age 60</label>
						</li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge61">
						    <label class="form-check-label">Population Age 61</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge62">
						    <label class="form-check-label">Population Age 62</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge63">
						    <label class="form-check-label">Population Age 63</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge64">
						    <label class="form-check-label">Population Age 64</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge65">
						    <label class="form-check-label">Population Age 65</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge66">
						    <label class="form-check-label">Population Age 66</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge67">
						    <label class="form-check-label">Population Age 67</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge68">
						    <label class="form-check-label">Population Age 68</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge69">
						    <label class="form-check-label">Population Age 69</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge70">
						    <label class="form-check-label">Population Age 70</label>
						</li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge71">
						    <label class="form-check-label">Population Age 71</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge72">
						    <label class="form-check-label">Population Age 72</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge73">
						    <label class="form-check-label">Population Age 73</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge74">
						    <label class="form-check-label">Population Age 74</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge75">
						    <label class="form-check-label">Population Age 75</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge76">
						    <label class="form-check-label">Population Age 76</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge77">
						    <label class="form-check-label">Population Age 77</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge78">
						    <label class="form-check-label">Population Age 78</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge79">
						    <label class="form-check-label">Population Age 79</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge80">
						    <label class="form-check-label">Population Age 80</label>
						</li>
					    <li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge81">
						    <label class="form-check-label">Population Age 81</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge82">
						    <label class="form-check-label">Population Age 82</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge83">
						    <label class="form-check-label">Population Age 83</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge84">
						    <label class="form-check-label">Population Age 84</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge85">
						    <label class="form-check-label">Population Age 85</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge86">
						    <label class="form-check-label">Population Age 86</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge87">
						    <label class="form-check-label">Population Age 87</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge88">
						    <label class="form-check-label">Population Age 88</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge89">
						    <label class="form-check-label">Population Age 89</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge90">
						    <label class="form-check-label">Population Age 90</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge91">
						    <label class="form-check-label">Population Age 91</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge92">
						    <label class="form-check-label">Population Age 92</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge93">
						    <label class="form-check-label">Population Age 93</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge94">
						    <label class="form-check-label">Population Age 94</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge95">
						    <label class="form-check-label">Population Age 95</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge96">
						    <label class="form-check-label">Population Age 96</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge97">
						    <label class="form-check-label">Population Age 97</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge98">
						    <label class="form-check-label">Population Age 98</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge99">
						    <label class="form-check-label">Population Age 99</label>
						</li>
						<li class="list-group-item">
						    <input class="form-check-input me-1" type="checkbox" name="selectedFields" value="populationAge100">
						    <label class="form-check-label">Population Age 100</label>
						</li>
						
						<li class="list-group-item">
	                        <label for="firstYear">First Year:</label>
	                        <input class="form-control" type="text" name="firstYear" id="firstYear">
	                    </li>
	                    <li class="list-group-item">
	                        <label for="lastYear">Last Year:</label>
	                        <input class="form-control" type="text" name="lastYear" id="lastYear">
	                    </li>
                    </ul>
					</div>
                </div>
            </div>
        <div class="form-group row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>   

    
    <button id="scrollToStartBtn" class="btn btn-primary">Scroll Up</button>
    
    <div style="position: fixed; bottom: 10px; right: 10px;">
	    <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
	</div>

    <script>
    function validateForm() {
        var countryCheckboxes = document.getElementsByName("selectedCountries");
        var fieldCheckboxes = document.getElementsByName("selectedFields");
        var countryChecked = false;
        var fieldChecked = false;
        
        var firstYearInput = document.getElementById("firstYear");
        var lastYearInput = document.getElementById("lastYear");
        var firstYear = parseInt(firstYearInput.value);
        var lastYear = parseInt(lastYearInput.value);

        // Check if at least one country is selected
        for (var i = 0; i < countryCheckboxes.length; i++) {
            if (countryCheckboxes[i].checked) {
                countryChecked = true;
                break;
            }
        }

        // Check if at least one field is selected
        for (var i = 0; i < fieldCheckboxes.length; i++) {
            if (fieldCheckboxes[i].checked) {
                fieldChecked = true;
                break;
            }
        }

        // Validate country selection
        if (!countryChecked) {
            alert("Please select at least one country.");
            return false;
        }

        // Validate field selection
        if (!fieldChecked) {
            alert("Please select at least one field.");
            return false;
        }
        
        // Validate years
        if (isNaN(firstYear) || isNaN(lastYear) || firstYear >= lastYear) {
            alert("Please enter valid years. First year must be less than last year.");
            return false;
        }

        // Form validation passed, allow form submission
        return true;
    }
    var scrollToBottomBtn = document.getElementById('scrollToBottomBtn');
    scrollToBottomBtn.addEventListener('click', function() {
        // Scroll to the bottom of the page
        window.scrollTo(0, document.body.scrollHeight);
    });
    var scrollToStartBtn = document.getElementById('scrollToStartBtn');
    scrollToStartBtn.addEventListener('click', function() {
    	window.scrollTo(0, 0);
    });
    
    var countryCheckboxes = document.getElementsByName("selectedCountries");
    var limit = 2;

    for (var i = 0; i < countryCheckboxes.length; i++) {
        countryCheckboxes[i].addEventListener('change', function(evt) {
            var checkedCount = 0;
            for (var j = 0; j < countryCheckboxes.length; j++) {
                if (countryCheckboxes[j].checked) {
                    checkedCount++;
                }
            }
            if (checkedCount > limit) {
                this.checked = false;
            }
        });
    }
    
    var fieldCheckboxes = document.getElementsByName("selectedFields");
    var limit = 2;

    for (var i = 0; i < fieldCheckboxes.length; i++) {
    	fieldCheckboxes[i].addEventListener('change', function(evt) {
            var checkedCount = 0;
            for (var j = 0; j < fieldCheckboxes.length; j++) {
                if (fieldCheckboxes[j].checked) {
                    checkedCount++;
                }
            }
            if (checkedCount > limit) {
                this.checked = false;
            }
        });
    }

    </script>
</body>

</html>